.go {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site {
  width: 500px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.indi_site {
  width: 110px;
  height: 110px;
  background-color: white;
  margin-top: 40px;
  margin-left: 2px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}

.indi_site:hover {
  background-color: rgb(223, 221, 221);
  cursor: pointer;
}

.site:last-child {
  margin-top: 20px;
}

.indi_site > * {
  font-size: 15px;
  position: absolute;
  bottom: 10px;
}

.icon {
  width: 50px;
  height: 50px;
  background-color: rgb(243, 243, 243);
  border-radius: 25px;
  position: relative;
  bottom: 25px;
}

.icon:hover {
  background-color: rgb(243, 243, 243);
}

.icon > img {
  width: 20px;
  height: 20px;
  position: absolute;
  bottom: 15px;
}
.icon > i {
  font-size: 15px;
  position: absolute;
  bottom: 16px;
}
