.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.header > span {
  margin-right: 20px;
  margin-top: 15px;
  right: 10px;
  font-size: 13px;
  color: var(--gray);
}

.fa-bars {
  font-size: 20px;
}

#profile {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
