.search_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgb(255, 255, 255);
  color: rgb(58, 58, 58);
  width: 500px;
  height: 45px;
  border-radius: 23px;
  padding: 0px 20px;
  box-shadow: 1px 1px 3px 1px rgb(219, 218, 218);
}

.search_bar input {
  border: none;
  width: 435px;
  height: 43px;
}

input:focus {
  outline: none;
}

.search_bar:nth-child(2):focus-within input::placeholder {
  opacity: 0;
}
.search_bar input::placeholder {
  font-size: 15px;
  color: rgb(58, 58, 58);
}
