@import "header.css";
@import "search-bar.css";
@import "go.css";
@import "variables.css";

.main {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  margin-bottom: 30px;
}
